
.footer{
    background: var(--PrimaryCorlor);
    width: 100%;
    min-height: 50px;
    margin-top: auto;
}
.Footer-parrafo{
    color: white;
    font-family: canada-type-gibson, sans-serif;
    text-align: center;
    font-size: 16px;
}
.Img-Footer{
    width: 50%;
    max-width: 151px;
}