
.bg-image{
    background-image: url('../Assets/Img/FONDO.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: canada-type-gibson;
    src: local('canada-type-gibson'),url(../Assets/Fonts/Canada-Type-Gibson-Regular.ttf);
}
@font-face {
    font-family: gibson-bold;
    src: local('gibson-bold'),url(../Assets/Fonts/Canada-Type-Gibson-Bold.ttf) ;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textcenter{
    text-align: center;
}
.textstart{
    text-align: start;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.text-wrap{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.pointer{
    cursor: pointer;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.start{
    display: flex;
    justify-content: flex-start;
}
.start-y{
    display: flex;
    align-items: flex-start;
}
.bor-bottom{
    border-bottom: 1px solid var(--SecondaryCorlor);
    cursor: pointer;
}
.gibson{
    font-family: canada-type-gibson;
}
.gib-bol{
    font-family: gibson-bold;
}
.size-12{
    font-size: 12px;
}
.size-16{
    font-size: 16px;
}
.size-26{
    font-size: 26px;
}
.size-45{
    font-size: 45px;
}
.m-top{
    margin: 20px 0;
}
.p-top{
    padding: 20px 0;
}
.m-10{
    margin: 10px 0;
}
.m-none{
    margin:0;
}
.Error{
    font-family: canada-type-gibson;
    font-size: 16px;
    color: firebrick;
}
.max-width{
    width: 100%;
}

.padding-lateral{
    padding: 0 20px;
    box-sizing: border-box;
}
.none{
    display: none;
}
.color-grey{
    color: var(--SecondaryCorlor);
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.bg-white{
    background-color: white;
}
.color-cyan,.ACTIVE{
    color: var(--PrimaryCorlor);
}
.btn-defaul{
    outline: none;
    border: none;
    cursor: pointer;
}
.relative{
    position: relative;
}

.aparecer{
    animation: aparecer 1s;
}

@keyframes aparecer {
    from {
        opacity: 0;
      transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.aparecerInvertido{
    animation: aparecer 1s;
}

@keyframes aparecer {
    from {
        opacity: 0;
      transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.traslate0{
    transform: translateY(0);
}