.Header{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 5;
}
.Box-Tools,.Menu{
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}
.Img-Marcas{
    margin: 0 10px;
    width: 50%;
    max-width: 132px;
}
.Menu{
    max-width: 900px;
    background-color: white;
    justify-content: flex-end;
}
.Menu-link{
    text-decoration: none;
    list-style: none;
    font-family: canada-type-gibson;
    color: var(--SecondaryCorlor);
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    margin: 0 0.5rem;
    box-sizing: border-box;
}
.bar-responsive{
    display: none;
    cursor: pointer;
    padding: 5px;
}
.ACTIVE{
    color: var(--PrimaryCorlor);
}

@media screen and (max-width:800px){
    .Header,.Menu{
        flex-direction: column;
    }
    .Box-Tools{
        justify-content: space-evenly;
        padding:0;
    }
    .Menu{
        padding:0;
        height: 100vh;
        justify-content: flex-start;
        position: fixed;
        top: 100px;
        transform: translateX(-100%);
        transition: transform .3s;
    }
    .Menu-link{
        margin: 20px 0;
    }
    .bar-responsive{
        display: flex;
    }
    .traslate0{
        transform: translateX(0);
    }
}