.Banner{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    min-height: 700px;
    background-image: url('../Assets/FONDO.png');
    background-size: cover;
}
.Banner-Img{
    width: 100%;
    max-width: 353px;
}
.Banner-parrafo,.Banner-parrafo-12{
    width: 100%;
    max-width: 540px;
    color: #5E6061;
    font-family: canada-type-gibson, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
    line-height: 1.5rem;
}
.Banner-Subtitle{
    width: 100%;
    color: var(--PrimaryCorlor);
    font-family: canada-type-gibson, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.Banner-Content-Input{
    width: 100%;
    max-width: 540px;
    height: 45px;
    position: relative;
    margin: 10px 0;
}
.Banner-Input--search{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--SecondaryCorlor);
    font-size: 20px;
}
.search-input{
    position: absolute;
    right: 0;
    padding: 10px;
    color: var(--PrimaryCorlor);
}
.Banner-parrafo-12{
    font-size: 12px;
    margin: 10px 0;
}
.Content-Modal{
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.555);
}
.Modal{
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 50px;
    position: relative;
}
.Modal-parraf{
    color: var(--SecondaryCorlor);
    font-family: canada-type-gibson, sans-serif;
    font-size: 14px;
    margin: 15px 0;
}
.cros-modal{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    cursor: pointer;
}
.Input-Tools{
    width: 60px;
}
.Input-Tools i{
    cursor: pointer;
}

.Btn-Back{
    width: 100%;
    max-width: 260px;
    height: 41px;
    border-radius: 5px;
    background-color: white;
    color: var(--PrimaryCorlor);
    font-size: 20px;
    text-decoration: none;
    font-family:canada-type-gibson, sans-serif;
    margin: 10px;
    box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
}

.Content-Products{
    width: 100%;
    max-width: 600px;
}
.Option-Product{
    width: 100%;
    min-height: 40px;
    margin:0 4px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--SecondaryCorlor);
    color: white;
    font-family: canada-type-gibson, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s;
    z-index: 2;
}
.Option-Product:hover{
    background-color: rgb(133, 133, 133);
}
.Options-Presentacion{
    width: 100%;
    background-color: #E6E4E5;
    min-height: 50px;
    border-radius: 5px;
    transition: all .5s;
    overflow:hidden;
    transform: translateY(-20%);
}
.height-none{
    height: auto;
}
.bg-cyan{
    background-color: var(--PrimaryCorlor);
}
.bg-cyan:hover{
    background-color: #1c8997;
}
.btn-verLugares{
    height: 47px;
    background-color: transparent;
    color: var(--PrimaryCorlor);
    font-size: 14px;
    font-family: canada-type-gibson, sans-serif;
    border: 1px solid var(--PrimaryCorlor);
    border-radius: 5px;
    cursor: pointer;
}
