
/*--------------------MODAL------------*/

.Content-Modal{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.555);
}
.Modal{
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 50px;
    position: relative;
}
.Modal-parraf{
    color: var(--SecondaryCorlor);
    font-family: canada-type-gibson, sans-serif;
    font-size: 14px;
    margin: 15px 0;
    text-align: justify;
}
.cros-modal{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    cursor: pointer;
}

.ModalGeo{
    width: 100%;
    max-width: 400px;
    position: relative;
    padding: 50px;
    background-color: white;
    border-radius: 10px; 
}
/*-------------HOME-------------*/
.Banner, .Banner__Contenido,.Banner-2{
    width: 100%;
    height: 100%;
    text-align: center;
}

.Banner__Text4, .Banner__Title5{
    margin: 30px 0;
}
.Banner,.Content-DatosAbiertos,.Banner-2{
    padding: 30px 15px;
    padding-top: 110px;
    min-height: 700px;
    margin: auto;
}
.Banner__Logo{
    width: 100%;
    max-width: 353px;
}
.Banner__Contenido,.Banner__Buscador{
    max-width: 540px;
}
.Banner__Text4,.Banner__Text4--option{
    font-size: 16px;
}
.Banner__Text6,.Banner__Text6--sm{
    font-size: 12px;
}
.Banner__Title6{
    margin: 0;
    font-size: 18px;
}
.Banner__Title5{
    font-size: 20px;
}
.Banner__Title4,.Banner__Title4--cyan,.Banner__Title4--wrap{
    margin: 0;
    font-size: 24px;
}
.Banner__Title4--cyan{
    color: var(--PrimaryCorlor);
}
.Banner__Title5--Cyan{
    color: var(--PrimaryCorlor);
}
.Banner__Buscador{
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
}

.Banner__Buscador-Input{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-right: 60px;
    border-radius: 5px;
    color: var(--SecondaryCorlor);
    font-size: 20px;
}
.Banner__Buscador-Tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    position: absolute;
    padding: 10px;
    right: 0;
    color: var(--PrimaryCorlor);
}
/*--BUSCADOR--*/
.Banner__Links{
    width: 100%;
    margin: 20px 0;
}
.Banner__Btn-Back{
    width: 100%;
    max-width: 260px;
    height: 41px;
    border-radius: 5px;
    background-color: white;
    color: var(--PrimaryCorlor);
    font-size: 20px;
    font-family:canada-type-gibson, sans-serif;
    margin: 10px;
    box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 5px 15px -8px rgba(0,0,0,0.75);
}
.Banner__Option-Product,.Banner__Option-More-Product,
.Banner__Option-Presentacion{
    width: 100%;
    min-height: 40px;
    margin:0 4px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--SecondaryCorlor);
    color: white;
    font-family: canada-type-gibson, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s;
    z-index: 2;
}
.Banner__Option-More-Product{
    background-color: var(--PrimaryCorlor);
}
.Banner__Option-Presentacion{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.Banner__Option-Presentacion:hover{
    background-color: rgb(133, 133, 133);
}
.Banner__Contenedor-Presentacion{
    width: 100%;
    background-color: #E6E4E5;
    min-height: 50px;
    border-radius: 5px;
    transition: all .5s;
    overflow:hidden;
    transform: translateY(-20%);
}
.Banner__Text4--option{
    margin: 10px 0;
    cursor: pointer;
    transition: color .5s;
}
.Banner__Text4--option:hover{
    color: var(--PrimaryCorlor);
}
.Banner__InfoSearch{
    width: 100%;
    color: var(--SecondaryCorlor);
    text-align: start;
}
.Banner__Text4--sm,.Banner__Text6--sm{
    margin: 0;
}
/*-------
.Banner__InfoProduct{
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 5px 0;
    color: black;
}
.Banner__TextInfoProduct{
    max-width: 200px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}
*/
.Banner__ProductsResult{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
}
.Banner__Box-ProductDetail{
    width: 100%;
    max-width: calc(100%-40px);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: start;
    padding: 0;
}
.Banner__Datos-Product,.Banner__Datos-Ubicacion{
    width: 100%;
    max-width: 76%;
    text-align: start;
}
.Banner__Title4--wrap{
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
}
.Banner__Price,.Banner__Price--sn{
    width: 100%;
    max-width: 100px;
    min-width: 20%;
    text-align: end;
}

.Banner__Item-Ubicacion{
    padding: 10px;
    background-color: var(--PrimaryCorlor);
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}
.Banner__Button-Ubicacion{
    width: 170px;
    height: 42px;
    border-radius: 5px;
    background-color: var(--PrimaryCorlor);
    color: white;
    font-size: 20px;
    transition: background-color .5s;
}
.Banner__Button-Ubicacion:hover{
    background-color: #25aec0;
}

.SpanProduct{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--SecondaryCorlor);
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    word-wrap: break-word;
}
.SpanProduct::after{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--SecondaryCorlor);
}
.Select-Search{
    width: 100%;
    background-color: white;
}
.Option-Search{
    color: var(--SecondaryCorlor);
    text-align: start;
    padding: 10px;
    font-size: 14px;
    transition: background-color .5s;
    cursor: pointer;
}
.Option-Search:hover{
    background-color: rgba(168, 168, 168, 0.5);
}
/*----------------INFO-FARMA-------*/
.Content-dowload, .Download,.Content-NotaMetodo,
.Banner-2,.Section-Skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Banner-2{
    background-image: url('./Assets/Img/FONDO.png');
    background-size: cover;
    background-color: #008192;
    margin: 0 auto;
    justify-content: center;
    text-align: start;
}
.Banner-Info{
    width: 100%;
    max-width: 470px;
    margin: 20px;
}
.Banner2-Title,.Banner2-parrafo{
    color: white;
    font-size: 38px;
}
.Banner2-parrafo{
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.5rem;
    text-align: justify;
}
.Banner2-Img{
    width: 100%;
    max-width: 500px;
}
.Quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Quiz{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
}
.Quiz-Subtitle,.Reporte-Title{
    color: var(--PrimaryCorlor);
    font-family: gibson-bold, sans-serif;
    font-size: 28px;
    margin: 30px 0;
}
.Content-Quiz{
    width: 100%;
    max-width: 680px;
    min-height: 30px;
    max-height: 80px;
    margin: 20px 0 0 0;
    z-index: 2;
    border: 1px solid #2099AA;
    background-color: white;
}
.Section-Skills{
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    justify-content: space-around;
    flex-direction: column;
}
.Quiz-Parrafo,.Quiz-BigParrafo{
    color: #2099AA;
    font-family: canada-type-gibson, sans-serif;
    font-size: 14px;
}
.Quiz-BigParrafo{
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
}
.skill{
    width: 180px;
    height: 80px;
    margin: 10px;
}
.skill-Subtitle,.skill-Subtitle--24{
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
}
.skill-Subtitle--24{
    font-size: 28px;
    font-family: gibson-bold;
}
.Content-Info{
    width: 100%;
    max-width: 680px;
    box-shadow: 0px -1px 9px -3px rgba(0,0,0,0.61);
    transition: all .5s;
    overflow:hidden;
    transform: translateY(-20%);
    z-index: 1;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

/*---------------REPORTES--------------*/
.Content-Reporte{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 100px;
    box-sizing: border-box;
}
.Reporte-Title{
    font-family: canada-type-gibson;
    margin: 10px 0;
    max-width: 600px;
}
.Box-Info-Reporte,.Box-Info{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Noticia{
    width: 100%;
    max-width: 673px;
}
.Noticia-Aside{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    background-color: #f5f4f4;
}
.Noticia-Extra{
    width: 100%;
    max-width: 295px;
    margin: 20px 10px;
    text-align: start;
}
.Img-NoticiaExtra{
    width: 100%;
    max-width: 295px;
}
.Aside-Text{
    font-family: gibson-bold, sans-serif;
    font-size: 18px;
    color: #2099AA;
}

/*----------------DATOS-ABIERTOS-------*/
.Content-DatosAbiertos,.Content-dowload,.Content-NotaMetodo{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.Info-Text{
    font-size: 14px;
    line-height: 1.5rem;
    text-align: justify;
}
.Download{
    width: 100%;
    max-width: 447px;
    box-shadow: 0px -1px 9px -3px rgba(0,0,0,0.61);
    height: 120px;
    border-radius: 10px;
    margin: 20px 0;
}
.Download-Text{
    font-size: 24px;
    color: var(--PrimaryCorlor);
    text-align: center;
    margin: 5px;
}
.Btn-Download{
    width: 100%;
    max-width: 190px;
    height: 28px;
    background-color: var(--PrimaryCorlor);
    color: white;
    font-size: 12px;
    border-radius: 5px;
}
.Box{
    width: 100%;
    max-width: 470px;
    margin-bottom: 30px;
    text-align: center;
}
.Box-Info{
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/*--------------Page-Error----------------*/

.Span-Eror404{
    font-size: 50px;
    margin: 20px 0;
    position: relative;
    color: var(--SecondaryCorlor);
}
.Span-Eror404::before{
    content: "404";
    position: absolute;
    font-size: 40px;
    top: -30px;
    bottom: 0;
    color: var(--PrimaryCorlor);
}

/*----------RESPONSIVE-----------*/
@media screen and (max-width:1020px){
    .Noticia-Aside{
        max-width: 100%;
    }
}
@media screen and (max-width:450px){
    .Banner__Box-ProductDetail{
        flex-direction: column;
        align-items: flex-start;
    }
    .Banner__Price{
        text-align: start;
        margin: 0;
    }
    .Banner__Price--sn{
        text-align: end;
        margin: 0;
    }
}
@media screen and (max-width:350px){
    .Banner__Datos-Ubicacion{
        max-width: 100%;
        text-align: center;
    }
    .Banner__ProductsResult{
        flex-direction: column;
        align-items: center;
    }
    .Banner__Price--sn{
        text-align: center;
    }
}
