:root{
  --PrimaryCorlor: #37C2D1;
  --SecondaryCorlor: #585757;
}

*{
  box-sizing: border-box;
}

body {
  font-family: canada-type-gibson, sans-serif;
}

p{
  color: var(--SecondaryCorlor);
}

input{
  outline: none;
  border: none;
}
i{
  cursor: pointer;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}